﻿.nav-white{
    background: #ffffff !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
}


.notary-cont{
    margin-top: 10px;
}

.icons-center{
    margin:0 auto;
}
.ico-modals{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.panel-title{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #6a6174;
}

.dwnld-span{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;

}

.dwnld-btn:focus{
    outline: none;
}

.clnt-label{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6a6174;
}

.clnt-dtl{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #6a6174;
}

.ftr-ico a{
    color: #2e87d7;
    text-decoration: none;
}

.ftr-ico a:hover{
    color: #f7ba2b;
}

.wrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.wrapper:after {
  padding-top: 42.85714285714287%;
  display: block;
  content: '';
}
.wrapper .column {
  position: absolute;
  left: 0;
  top: 0;
  width: 14.2857142857142857%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}
.wrapper .column .inner {
  width: 100%;
  position: relative;
}
.wrapper .column .inner:after {
  padding-top: 100%;
  /* ratio 1:1 */
  display: block;
  content: '';
}
.wrapper .column .inner:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .column .inner:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.wrapper .column:nth-child(1) {
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(2) {
  left: 28.5714285714285714%;
}
.wrapper .column:nth-child(3) {
  left: 28.5714285714285714%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(4) {
  width: 28.5714285714285714%;
  left: 42.85714285714286%;
  top: 0;
}
.wrapper .column:nth-child(4) .inner:after {
  padding-top: 48.7%;
}
.wrapper .column:nth-child(5) {
  left: 71.42857142857143%;
  top: 0;
}
.wrapper .column:nth-child(6) {
  left: auto;
  right: 0;
  top: 0;
}
.wrapper .column:nth-child(7) {
  left: 71.42857142857143%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(8) {
  left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(9) {
  width: 28.5714285714285714%;
  top: auto;
  left: 0;
  bottom: 0;
}
.wrapper .column:nth-child(9) .inner:after {
  padding-top: 48.7%;
}
.wrapper .column:nth-child(10) {
  left: 28.5714285714285714%;
  top: auto;
  bottom: 0;
}
.wrapper .column:nth-child(11) {
  left: 42.85714285714286%;
  top: auto;
  bottom: 0;
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(12) {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(12) .inner:after {
  padding-top: 48.7%;
}
/* BEAUTY */
body,
html {
  background-color: #fff;
  padding: 0;
}
.wrapper .column .inner {
  background-size: cover;
  background-position: center;
}
.wrapper .column:nth-child(1) .inner {
  background-image: url('/src/assets/images/image1.png');
}
.wrapper .column:nth-child(2) .inner {
  background-image: url('/src/assets/images/image2.png');
}
.wrapper .column:nth-child(3) .inner {
  background-image: url('/src/assets/images/image3.png');
}
.wrapper .column:nth-child(4) .inner {
  background-image: url('/src/assets/images/image4.png');
}
.wrapper .column:nth-child(5) .inner {
  background-image: url('/src/assets/images/image5.png');
}
.wrapper .column:nth-child(6) .inner {
  background-image: url('/src/assets/images/image6.png');
}
.wrapper .column:nth-child(7) .inner {
  background-image: url('/src/assets/images/image7.png');
}
.wrapper .column:nth-child(8) .inner {
  background-image: url('/src/assets/images/image8.png');
}
.wrapper .column:nth-child(9) .inner {
  background-image: url('/src/assets/images/image8.png');
}
.wrapper .column:nth-child(10) .inner {
  background-image: url('/src/assets/images/image8.png');
}
.wrapper .column:nth-child(11) .inner {
  background-image: url('/src/assets/images/image8.png');
}
.wrapper .column:nth-child(12) .inner {
  background-image: url('/src/assets/images/image8.png');
}
.wrapper .column:nth-child(13) .inner {
  background-image: url('/src/assets/images/image8.png');
}



/* Tabs panel */
.tabbable-panel {
  /*border:1px solid #eee;*/
  padding: 10px;
}

/* Default mode */
.tabbable-line  .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line  .nav-tabs  li {
  margin-right: 2px;
}
.tabbable-line  .nav-tabs  li  a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line  .nav-tabs  li  a  i {
  color: #a6a6a6;
}
.tabbable-line  .nav-tabs  li.open, .tabbable-line  .nav-tabs  li a:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line  .nav-tabs  li.open  a, .tabbable-line  .nav-tabs  li a:hover  {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line  .nav-tabs  li.open  a  i, .tabbable-line  .nav-tabs  li a:hover   i {
  color: #a6a6a6;
}
.tabbable-line  .nav-tabs  li.open .dropdown-menu, .tabbable-line  .nav-tabs  li a:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line  .nav-tabs  li a.active {
  border-bottom: 4px solid #2e87d7;
  position: relative;
}
.tabbable-line  .nav-tabs  li.active  a {
  border: 0;
  color: #333333;
}
.tabbable-line  .nav-tabs  li.active  a  i {
  color: #404040;
}
.tabbable-line  .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line  .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below  .nav-tabs  li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below  .nav-tabs  li  a {
  margin-top: 0;
}
.tabbable-line.tabs-below  .nav-tabs  li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below  .nav-tabs  li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #2e87d7;
}
.tabbable-line.tabs-below  .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

#clnt-info{
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #6a6174;
}

@media (min-width: 1200px){
    .container {
        max-width: 1400px;
    }
}