﻿<!DOCTYPE html>
<html>
<head>
    <base href="~/src/"/>
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/src/systemjs.config.js"></script>
    <script>
      System.import('/src/main.js').catch(function(err){ console.error(err); });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notary App</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Notary App" />
</head>
<body>

    <!-- Page Content -->
    <div class="container notary-cont" style="margin-top:60px">
        @*<div style="visibility:hidden">
            @RenderBody()
        </div>*@
        @RenderBody()

        @*<main-app></main-app>*@
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-light">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
